@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

$campus-highlight: rgb(248, 113, 24);

.map-container svg {
  display: block;
  margin: 0 auto;

  g {
    path {
      fill: none;
      stroke: #121212;
    }

    path.columbia-outline {
      stroke: $campus-highlight;
      stroke-width: 2.5;
    }
  }

  g.text {
    text {
      font-family: $graphik;
      dominant-baseline: hanging;
      text-anchor: middle;
      transform: translateY(11px);
      fill: #121212;
      font-size: 14px;

      display: none;
    }
  }

  g.baseline line {
    stroke: #bcbcbc;
  }

  g.slopes line {
    marker-end: url(#map-arrow-open);
    stroke-width: 2;
  }

  .river-label {
    font-family: $graphik;
    font-style: italic;
    font-size: 16px;
    fill: #aaa;
  }

  g.campus-labels text {
    font-family: $graphik;
    dominant-baseline: hanging;
    text-anchor: middle;
    transform: translateY(9px);
    fill: $campus-highlight;
    font-size: 14px;
    font-weight: bold;

    display: none;
  }

  .neighborhood-labels {
    text {
      font-family: $graphik;
      font-size: 14px;
      fill: #333;
      text-anchor: middle;
      transform: translateY(-30px);
      text-transform: uppercase;
    }

    text:first-child {
      transform: translateY(23px);
    }

    @media (max-width: 460px) {
      text:last-child {
        transform: translate(-15px, -30px);
      }
    }
  }

  text.white-background {
    stroke: #fff;
    opacity: 0.8;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

#legend {
  position: absolute;
  transform: translateY(130px);

  svg {
    overflow: visible;
  }

  .slope {
    marker-end: url(#map-arrow-open);
    stroke-width: 2;
  }

  .baseline {
    stroke: #bcbcbc;
  }

  circle {
    fill: black;
  }

  text {
    font-family: $graphik;
  }
}

.map-title {
  font-family: $graphik;
  font-weight: 700;
  line-height: 1.4;
  font-size: 18px;
}
